/**Estilo de Textos**/
h4.title {
  margin-top: 0.5em;
  font-weight: bold;
}

p.det-inf {
  font-size: 15px;
  margin-left: 1em;
}

p.visit {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}
/**Estilo de elementos de formulario**/
input.s-input {
  margin-bottom: 10px;
}

button.s-btn {
  background-color: rgb(1, 78, 130);
}

button.s-btn i {
  margin: 0 auto;
  font-size: 17px;
  color: white;
}
/**Estilo de las tarjetas**/
.card {
  border: 1px solid rgb(26, 49, 201);
  width: 98%;
  margin: 5px;
}

div.card-header {
  background-color: rgb(1, 78, 130);
  height: 40px;
  padding-top: 15px;
}

div.card h5 {
  color: white;
  font-size: 15px;
}

div.card-header h5 {
  margin-top: -5px;
}

div.card-block button {
  margin-left: 50%;
  transform: translateX(-78.25px);
  background-color: rgb(1, 78, 130);
}

div.leftbar {
  margin-top: .5em;
  margin-left: 0.8em;
}

img.header {
  width: 60%;
  margin: 5px auto;
  border-radius: 15px;
  box-shadow: inset 7px -1px 7px rgba(0, 0, 0, 0.4), 0 3px 5px rgba(0, 0, 0, 0.4);
}

img.logoEmpresa {
  width: 300px;
  margin: 5px auto;
}

img.logoEmpresamin {
  margin-top: -10px;
  width: 100%;
}

div.bardetail {
  background-color: rgb(246, 246, 246);
  font-size: 14px;
}

i.fa {
  position: inherit;
  font-size: 25px;
  color: rgb(110, 109, 109);
  margin-right: 10px;
  margin-left: 10px;
}

.enable {
  display: flex;
}

.disable {
  display: none;
}

.list-group-item {
  list-style: georgian!important;
}

/**Lista de areas**/
li.list-group-item {
  background-color: rgb(245, 241, 241);
}

li.list-group-item:nth-child(2n) {
  background-color: rgb(230, 228, 228);
}

/**Ajustes resposivos**/
@media (max-width: 1366px) {
  i.fa {
    font-size: 16px;
    color: rgb(110, 109, 109);
    margin-right: 3px;
    margin-left: -8px;
  }
}

@media (max-width: 576px) {
  div.leftbar {
    margin-top: 1em;
    margin-left: -0.8em;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  img.logoEmpresa {
    width: 200px;
    margin: 0 auto;
  }
}
